html {
    /* Set default Font size */
    font-size: 62.5%;
  }
  
  body {
    /* Use Sans Serif font stack to help select the best font for each type of computer operating system  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: cornsilk
    
  }

  h4 {

    font-style: oblique;
    display: flex;
    justify-content: center;
    position: relative;
   
  }

  .header {
display: flex;
flex-direction: row;
justify-content: space-between;
font-family: 'Times New Roman', Times, serif;
background-color: rgba(172, 164, 221, 0.6);
margin: 5px;
padding: 5px;
color: rgb(42, 0, 72);

  }
  

  .project {
display: flex;
/* flex-wrap: wrap; */
border: 10px;
border-color: rgb(42, 0, 72);
border-style: double;
flex-grow: 0;
/* flex-direction: column; */
justify-content: center;
padding: 0px;
/* background-color: rgb(202, 202, 202); */
margin: 10px;





background-image: linear-gradient(
    rgba(189, 178, 195, 0.3) 0%,
    rgba(172, 164, 221, 0.6) 100%
    
)


  }


figure {

    display: flex;
    justify-content: center;
    flex-direction: column;
   align-items: center;
 }

  .firstproject {
    display: block;
    justify-content: center;
    /* flex-grow: 2 0; */
    position: relative;
    flex-wrap: nowrap;
    max-width: 100%;
  }

  .work {

    
    
    justify-content: center;
    padding: 10px;
    flex: 1 1 ;
    border: 15px;
    border-style: groove;
    
  }
  .otherprojects {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    
  }

.intro {
display: flex;
flex-direction: row;
justify-content: flex-start;
/* flex-wrap: wrap; */
border-left: 10px;
border-style: solid;
border-color: rgb(42, 0, 72);
padding-right: 10px;

}
.profpic {
    display:grid;
    
    /* justify-content:flex-start ; */
    
    top: 100px;
    margin: 10px;
}

ul {
    list-style-type: none;
}
div.img:hover {
    cursor: pointer ;
    border: white;

}


  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    /* .card-column {
      flex: 0 0 50%;
      max-width: 50%; */
    /* } */
    .work {
    justify-content: flex-start;

    }
    .header{
        margin: 25px;
    }

    .project {
        padding: 10px;
    }
}

      /* media query for larger screens */
@media screen and (min-width: 992px) {
    .header {
      margin: 50px; 
      
   
 }

.work{
justify-content: flex-start;
}
.project {
    padding: 20px;
}
}