html {
    /* Set default Font size */
    font-size: 62.5%;
  }
  
  body {
    /* Use Sans Serif font stack to help select the best font for each type of computer operating system  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      /* Set font size in body to be slightly larger, increase line height, and set background color */
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: cornsilk
  }

  h4 {
/* Set the font style of any h4 tags to make it prettier */
    font-style: oblique;

   
  }

  .header {
    /* Set elements in the header to be positioned equally distant, no matter what the screen size is
    Change the font to a serif font
    add some color and other style elements to visually separate the header from the body
    */
display: flex;
flex-direction: row;
justify-content: space-between;
font-family: 'Times New Roman', Times, serif;
background-color: rgba(172, 164, 221, 0.6);
margin: 5px;
padding: 5px;
color: rgb(42, 0, 72);
  }
  

  .project {
    /* Use flexbox to center content 
    Add a border, some color, and a margin
    add a slight color gradient as background color
    */
display: flex;
border: 10px;
border-color: rgb(42, 0, 72);
border-style: double;
justify-content: center;
margin: 10px;
background-image: linear-gradient(
    rgba(189, 178, 195, 0.3) 0%,
    rgba(172, 164, 221, 0.6) 100%)
}


figure {
/* Set flex direction as column, center alonng axis */
    display: flex;
    flex-direction: column;
   align-items: center;
 }

   .firstproject {
    /* remove flex wrap   */
     flex-wrap: nowrap; 
   } 

  .work {
/* set a border with some padding */
    padding: 10px;
    border: 15px;
    border-style: groove;
    
  }
  .otherprojects {
    /* set flex wrap to allow for different screen sizes */
    display: flex;
    flex-wrap: wrap;
    
    
  }

.intro {
    /* Add some flex properties, borders, and padding */
display: flex;
flex-direction: row;
justify-content: flex-start;
border-left: 10px;
border-style: solid;
border-color: rgb(42, 0, 72);
padding-right: 10px;

}
.profpic {
    /* Set location and add margin */
    display:grid;
    top: 100px;
    margin: 10px;
}

ul {
    /* remove bullet points for a sleeker look */
    list-style-type: none;
}
a:hover {
    /* add white glow and change cursor when link is hovered over */
    cursor:pointer  ;
    box-shadow:  10px 10px 10px 10px  white;
}


  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set flex position, add header margin, and add padding  */
    .work {
    justify-content: flex-start;

    }
    .header{
        margin: 25px;
    }

    .project {
        padding: 10px;
    }
}

      /* media query for larger screens */
@media screen and (min-width: 992px) {
     /* on larger screens, set flex position, increase header margin, and increase padding  */
    .header {
      margin: 50px; 
 }

.work{
justify-content: flex-start;
}
.project {
    padding: 20px;
}
}